<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>StarPony News</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class='main-container'>
            <div class="up-main-container">
                <img class="logo" src="{% static 'img/logo.png' %}"/>
                <a class="intro-text">
                    Официальный сайт StarPony Productions, делаем все дабы разрушить мировой порядок и погрузить весь мир в хаос.
                </a>
                <ul class="menu-items">
                    <li class="menu-item">
                        <a class="item-link" style="font-size: 140%; color: #000;" href="{% url 'articles' %}">Новости</a>
                    </li>
                    <li class="menu-item">
                        <a class="item-link"  href="{% url 'projects' %}">Проекты</a>
                    </li>
                    <li class="menu-item">
                        <a class="item-link" href="{% url 'about' %}">О нас</a>
                    </li>
                </ul>
            </div>
            <div class="blocks">
                {% if model %}
                {% for m in model %}
                    <div class="article">
                        <p>
                            <a href="{{ m.image.url }}">
                            <img class="art-img" src="{{ m.image.url }}"/>
                            </a>
                        </p>
                        <h3 class="title">{{ m.title }}</h3>
                        <p class="date">{{ m.date }}</p>
                        <p class="text">{{ m.text }}</p>
                        <p class="author">{{ m.author }}</p>
                    </div>
                {% endfor %}
                {% else %}
                <h1>
                    Здесь ничего нет
                </h1>
                {% endif %}
            </div>
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                    <a class="page-change" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% endif %}
                    <span class="page-current">
                        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                    <a class="page-change" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </div>
        <footer>
            <div class="container">
                <div class="brand">StarPony Productions</div>
                <p class="copyright">@ 2036 All Right Reserved</p>
            </div>
        </footer>
    </body>
</html>